/checkpoints/
/outputs/
/data/
/log
/third_party/
/vps.egg-info/
__pycache__/
*.txt
*.npy
*.png
*.jpg
*.pyc
*.pyo
*.pyd
.env
.venv
.env.*
.venv.*
.idea/
.vscode/
*.log
*.h5
*.pth
*.pt
*.pkl
*.pth.tar
*.pth.tar.gz
*.pth.tar.bz2
*.pth.tar.xz
*.pth.tar.lzma
*.json
*.ply